<h2>Cart</h2>
<table class="order-sidebar">
  {{#each cart.order.items as |orderItem|}}
  <tr>
    <td>Item: {{orderItem.menuItem.name}}</td>
    <td>Quanity: {{orderItem.quantity}}</td>
    <td>Price: {{orderItem.menuItem.price}}</td>
  </tr>
  {{/each}}
  <tr>
    <td></td>
    <td></td>
    <td>Total: {{cart.order.totalPrice}}</td>
  </tr>
</table>

{{!-- <div class="order-sidebar">
  <h3 class="order-heading">Your Order</h3>
  <h4 class="order-detail-heading">Order Details</h4>
  <table>
    {{#each cart.order.items as |orderItem|}}
      <thead>
        <tr>
          <td class="menu-item__name">Item: {{orderItem.menuItem.name}}</td>
          <td class="menu-item__description">Quantity: {{orderItem.menuItem.description}}</td>
          <td class="menu-item__price">Price: {{orderItem.menuItem.price}}</td>
        </tr>
      </thead>
    {{/each}}
  </table>
  <h4>Total</h4>
  <P>{{cart.order.total}}</P>
  {{mdl-button class="new-order-sub" isRaised=true text='Submit' isAccent=true}}
</div> --}}
