{{#mdl-nav title='La Chatelaine French Bakery & Bistro' fixedHeader=true transparent=true class='layout-transparent' }}
  {{mdl-nav-item name='Chat Now' route=''}} {{mdl-nav-item name='Sign Up' route=''}} {{mdl-nav-item name='Log In' route=''}} {{mdl-nav-item name='My Cart' route=''}}
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col white-text">
    </div>
  </div>
{{/mdl-nav}}

{{outlet}}
